    <app-home></app-home>
<div class="registerationForm">
    <h2>SignUp</h2>
    <form [formGroup] ="registerationForm" (ngSubmit)="OnSubmit()">
        <label for="userName">User Name :</label>
        <input type="text" id="userName"formControlName="userName" required>
        <label for="Email">Email :</label>
        <input type="email" id="Email"formControlName="Email" required>
        <label for="Password">Password :</label>
        <input type="password" id="Password"formControlName="Password" required>
        @defer(on viewport) {
        <button type="button">Register</button>
        }
        @placeholder (minimum 500ms) {
            <div>Loading..</div>
  }
    </form>
</div>
